#countLabel{
    font-size: 10em;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#buttonContainer{
    text-align: center;   
}

.buttons{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: lightblue;
    font-size: 2em;
    color: white;
    transition: background-color 0.25s;
    transition: font-size 0.25s;
    margin: 10px;
}

.buttons:hover{
    font-size: 2.2em;
    background-color: rgb(147, 182, 194);
    cursor: pointer;
}