body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 90%);
}
#myh1 {
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 25%);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: white;
  border: 5px solid;
  border-radius: 20px;
}

#display {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.747);
  margin-bottom: 25px;
}

#controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}
#startbtn {
  background-color: hsl(120, 100%, 25%);
}
#startbtn:hover {
  background-color: hsl(120, 100%, 20%);
}
#stopbtn {
  background-color: hsl(0, 100%, 50%);
}
#stopbtn:hover {
  background-color: hsl(0, 100%, 40%);
}
#resetbtn {
  background-color: hsl(240, 100%, 50%);
}
#resetbtn:hover {
  background-color: hsl(240, 100%, 40%);
}
